language: python
dist: xenial

matrix:
  include:
    - python: 3.5
      env:
        - TOX_ENV=py35
    - python: 3.6
      env:
        - TOX_ENV=py36
    - python: 3.6
      env:
        - TOX_ENV=pypy3.6
    - python: 3.6
      env:
        - TOX_ENV=py36-numpy
    - python: 3.7
      sudo: yes
      env:
        - TOX_ENV=py37
    - python: 3.8
      sudo: yes
      env:
        - TOX_ENV=py38
    - os: osx
      language: generic
      python: 3.6
      env:
        - TOX_ENV=py36
    - os: windows
      language: sh
      python: 3.7
      before_install:
        - choco install python --version=3.7.5
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python -m pip install --upgrade pip wheel
      env:
        - TOX_ENV=py37
    - python: 3.6
      env:
        - TOX_ENV=docs-py3
    - python: 3.7
      env:
        - TOX_ENV=check-format

before_install:
  - export EASY_SETUP_URL='http://peak.telecommunity.com/dist/ez_setup.py'

install:
  - pip install --upgrade pip tox coveralls
  - python --version
  - pip --version

script:
  - tox -e $TOX_ENV

after_success:
  - coveralls
