name: Release
on:
  push:
    tags:
      - V*
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pure-python-wheel-and-sdist:
    name: Build a pure Python wheel and source distribution
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          # Fetch all tags; this is needed for hatch-vcs
          fetch-depth: 0

      - name: Install build dependencies
        run: python -m pip install --upgrade build

      - name: Build
        run: python -m build

      - uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: dist/*
          if-no-files-found: error

  publish:
    name: Publish release
    needs:
      - pure-python-wheel-and-sdist
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')) ||
      (github.event_name == 'workflow_dispatch' && startsWith(github.event.ref, 'refs/tags'))

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: dist

      - name: Push build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          skip_existing: true
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
